#navigation .coffers {
  display: inline-block;
  float: right;
  width: 60%;
  text-align: right;
  background-color: #fff !important; }
  #navigation .coffers dl {
    padding: 0;
    margin: 0;
    background-color: #fff; }
    #navigation .coffers dl dd, #navigation .coffers dl dt {
      width: 11%;
      font-size: 1vw;
      display: inline-flex;
      height: 2.299vw; }
    #navigation .coffers dl dd {
      background-color: #fff; }
    #navigation .coffers dl dt {
      background-color: #333;
      color: #fff; }
#navigation table {
  width: 100%;
  text-align: center; }
  #navigation table th {
    background-color: #333;
    color: #fff; }
  #navigation table td {
    background-color: #f1f1f1;
    padding: 1vw;
    border-left: 1px solid black; }

#sidebar {
  display: flex;
  flex-direction: column;
  color: white;
  pointer-events: auto;
  float: left;
  z-index: 900;
  height: 90%; }
  #sidebar dt {
    height: 100%;
    text-align: center;
    display: flex; }
  #sidebar dl {
    flex-grow: 1;
    z-index: 999;
    margin: 0;
    position: relative;
    flex-basis: 16.6%; }
    #sidebar dl:hover dd {
      z-index: 999;
      display: inline-block;
      left: 100%;
      opacity: 1;
      overflow: visible;
      background-color: #f1f1f1 !important;
      color: #000; }
  #sidebar dd, #sidebar dt {
    margin: 0; }
  #sidebar dt > div {
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
    display: flex;
    align-items: center; }
  #sidebar .low {
    background-color: red;
    transition: background-color 1s linear; }
  #sidebar dd {
    height: 100%;
    width: 250px;
    pointer-events: none;
    position: absolute;
    display: none;
    z-index: -2;
    float: left;
    top: 0%;
    left: 0%;
    opacity: 0;
    overflow: hidden;
    background-color: dimgrey;
    padding: 4px;
    align-items: center;
    transition: left 0.3s, opacity 0.3s;
    box-sizing: border-box;
    padding: 10px; }
  #sidebar h2 {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }

.T dt {
  background: silver; }

.E dt {
  background: green; }

.M dt {
  background: red; }

.B dt {
  background: blue; }

.O dt {
  background: black;
  color: white; }

.D dt {
  background: darkRed; }

.cMenu {
  pointer-events: none;
  width: 100%;
  height: 11%;
  padding: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap; }

.aLink {
  display: none;
  padding: 0;
  float: right;
  pointer-events: auto;
  width: 10%;
  text-align: center;
  position: absolute !important;
  top: 0;
  right: -50px; }
  .aLink .menu.circle {
    background-color: #333;
    border: 1px solid white;
    width: 75px !important;
    height: 75px !important;
    line-height: 75px;
    border-radius: 100%; }
  .aLink .menu:hover.item {
    display: block; }

.item {
  display: none;
  position: relative; }
  .item:nth-child(2) {
    top: -70px;
    left: -124px; }
  .item:nth-child(3) {
    top: -65px;
    left: -70px; }
  .item:nth-child(4) {
    top: -65px;
    left: -px; }

/*# sourceMappingURL=contextMenu.css.map */
