#navigation { 
.coffers {
	display: inline-block;
	float: right;	
	width: 60%;
	text-align: right;
	background-color: #fff !important;
	dl
	{
		padding: 0;
		margin: 0;
		background-color: #fff;
		//display: inline-block;
		dd,dt {
			width: 11%;
		font-size: 1vw;

			display:inline-flex;
			height: 2.299vw;
			} 
		dd {
			background-color: #fff;	
		}
		dt { 
			background-color: #333; 
						color: #fff;
			}
		
	}
}
	table {
		width: 100%;
		text-align: center;
		th { background-color: #333; color: #fff;}
		td { background-color: #f1f1f1; padding: 1vw; border: {left: 1px solid black;}}
	}
}