.cma-login-form {
	margin: 0 auto;
	border: { top: 7px double #000; bottom: 7px double #000; } 
	width: 25%;
	background-color: #333;	
	h1 {
		font-size: 150%;
		display: block;
		background-color: #999;
		padding: { top: 0.5em; bottom: 0.5em; left: 0.5em;};
	}
	input[type=text],input[type=password] {
		padding: 0.35em;
		margin: 0;
		box-sizing:border-box;
		display: block;
		width: 100%;
	}
	#actions
	{
		input[type=submit]
		{
			width: 40.5%;	
		}
		background-color: #f1f1f1;
		.link-holder { 
		width: 77%;
			a{
			
			text-decoration: none;
			display: inline-block;
			width: 50%; 

			padding: 0.33em;
		}
		}
	}
}