#navigation .coffers {
  position: relative;
  margin-left: 2%;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background-color: #fff;
  display: inline-block; }
  #navigation .coffers dl {
    width: 100%;
    display: inline-block; }
    #navigation .coffers dl dd, #navigation .coffers dl dt {
      font-size: 1vw;
      width: 5%;
      padding: 1%;
      position: relative;
      display: inline-flex;
      float: left;
      height: 2.299vw; }
    #navigation .coffers dl dd {
      background-color: #fff; }
    #navigation .coffers dl dt {
      background-color: #333;
      color: #fff; }
