.cma-login-form {
  margin: 0 auto;
  border-top: 7px double #000;
  border-bottom: 7px double #000;
  width: 25%;
  background-color: #333; }
  .cma-login-form h1 {
    font-size: 150%;
    display: block;
    background-color: #999;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em; }
  .cma-login-form input[type=text], .cma-login-form input[type=password] {
    padding: 0.35em;
    margin: 0;
    box-sizing: border-box;
    display: block;
    width: 100%; }
  .cma-login-form #actions {
    background-color: #f1f1f1; }
    .cma-login-form #actions input[type=submit] {
      width: 40.5%; }
    .cma-login-form #actions .link-holder {
      width: 77%; }
      .cma-login-form #actions .link-holder a {
        text-decoration: none;
        display: inline-block;
        width: 50%;
        padding: 0.33em; }

#splashHead {
  width: 100%;
  color: #870002;
  text-align: center;
  background-color: #000;
  width: 100%;
  border: 1px solid white; }
  #splashHead form {
    width: 100%;
    background-color: #f2f2f2;
    font-size: 12px;
    text-align: left;
    padding: 2px;
    box-sizing: border-box; }
    #splashHead form input {
      display: inline;
      text-align: center; }
    #splashHead form .form_links {
      font-size: 90%;
      display: inline-block;
      box-sizing: border-box;
      width: 35%;
      padding-left: 1%; }

.form_links a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  border: 1px outset black;
  height: 25px;
  width: 125px;
  text-align: center;
  line-height: 25px;
  box-sizing: border-box; }

/* Front Page */
article {
  display: block;
  background-color: #f1f1f1;
  width: 100%;
  float: left; }
  article p {
    width: 75%;
    padding: 2%;
    margin: 0 auto;
    border-left: 1px dashed black;
    box-sizing: border-box; }
  article sub {
    font-size: 9px; }
  article h1 {
    background-color: #111;
    color: #f1f1f1;
    text-align: center; }
  article h2 {
    text-align: center; }
  article dl {
    width: 75%;
    margin: 0 auto;
    padding: 2%;
    positioN: relative;
    left: 2%;
    border-left: 1px dashed black; }
    article dl dt {
      margin: 0;
      list-style: none;
      padding: 0; }
