#sidebar {
  display: flex;
  flex-direction: column;
  color: white;
  pointer-events: auto;
  float: left;
  z-index: 900;
  height: 90%; }
  #sidebar dt {
    height: 100%;
    text-align: center;
    display: flex; }
  #sidebar dl {
    flex-grow: 1;
    z-index: 999;
    margin: 0;
    position: relative;
    flex-basis: 16.6%; }
    #sidebar dl:hover dd {
      z-index: 999;
      display: inline-block;
      left: 100%;
      opacity: 1;
      overflow: visible; }
  #sidebar dd, #sidebar dt {
    margin: 0; }
  #sidebar dt > div {
    padding-left: 25px;
    padding-right: 5px;
    text-align: center;
    display: flex;
    align-items: center; }
  #sidebar .low {
    background-color: red;
    transition: background-color 1s linear; }
  #sidebar dd {
    pointer-events: none;
    position: absolute;
    display: none;
    z-index: -2;
    float: left;
    top: 0%;
    left: 0%;
    opacity: 0;
    height: 100%;
    width: 250px;
    overflow: hidden;
    background: dimGray;
    display: flex;
    align-items: center;
    transition: left 0.3s, opacity 0.3s;
    box-sizing: border-box;
    padding: 10px; }
  #sidebar h2 {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }

.T dt {
  background: #fff; }

.E dt {
  background: green; }

.M dt {
  background: darkBlue; }

.B dt {
  background: darkGreen; }

.O dt {
  background: red; }

.D dt {
  background: darkRed; }
